<html ng-app="brouserSynth">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>WebMidiLink Sample</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/jazz-plugin-handler.js"></script>
  <script type="text/javascript" src="/js/footerFixed.js"></script>
  <script type="text/javascript" src="/js/smf.js"></script>
  <script type="text/javascript" src="/js/synthdefs.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  <script type="text/javascript">

  var module = angular.module('brouserSynth', []);
  JazzPlugin.attachTo(module);
  var id = 0;
  module.factory('Synth', function($rootScope) {
    var Synth = function(name, url, author, programs){
      this.id = name;
      this.name = name;
      this.url = url;
      this.author = author;
      this.programs = programs;
      this.sy = null;
    };
    Synth.prototype.load = function(frame) {
      frame.location.href = this.url;
      this.sy = frame;
    };
    Synth.prototype.noteOn = function(note, velo) {
      this.sendMessage("midi,90," + note.toString(16) + "," + velo.toString(16));
    };
    Synth.prototype.noteOff = function(note) {
      this.sendMessage("midi,80," + note.toString(16) + ",0");
    };
    Synth.prototype.allSoundOff = function() {
      this.sendMessage("midi,b0,78,0");
    };
    Synth.prototype.sendMidiMessage = function(m0, m1, m2) {
      this.sendMessage('midi,' + m0.toString(16) +','+ m1.toString(16)+','+ (m2 ? m2.toString(16) : "0"));
    };
    Synth.prototype.sendMessage = function(s) {
      if(this.sy){
        //console.log(s);
        this.sy.postMessage(s, "*");
      }  
    };
    Synth.prototype.programsAsArray = function(){
      return _.values(this.programs);
    };
    return Synth;
  });

  
  var RecState = function() {
    this.keyCount = 0;
    this.noteOns = [];
    this.running = false;
    this.startTime = (new Date()).getTime();
  };
  RecState.prototype.onNoteFinished = function(startTime, endTime, velocity){};
  RecState.prototype.onElse = function(time, m0, m1, m2){};
  RecState.prototype.send = function(m0, m1, m2){
    var time = this.getLocation();
    if(m0 >> 4 == 9){
      this.noteOns[m1] = [time, m2];
      this.keyCount++;
    }else if(m0 >> 4 == 8){
      var startTime_velocity = this.noteOns[m1];
      startTime_velocity && this.onNoteFinished(m1, startTime_velocity[1], startTime_velocity[0], time);
      this.noteOns[m1] = false;
      this.keyCount--;
    }else{
      this.onElse(time, m0, m1, m2);
    }
  };
  RecState.prototype.reset = function(){
    this.keyCount = 0;
    this.noteOns = [];
  };
  RecState.prototype.keyIsPressed = function(){
    return this.keyCount > 0;
  };
  RecState.prototype.getLocation = function(){
    return (new Date()).getTime() - this.startTime;
  };
  
  
  var trackId = 0;
  function createTrackId(){
    return ++trackId;
  };
  
  var Track = function(arg){
    console.log(arg)
    this.id = createTrackId();
    this.name = arg.name;
    this.synth = arg.synth;
    this.channel = arg.channel || 1;
    this.program = arg.program ? this.synth.programs[arg.program.number] : this.synth.programs[1];
    this.selected = true;
    this.messages = arg.messages || [1000*60*10/(1000*60/480*120), 0x80, 62, 0];
    this.programChange(this.program.number);
  };
  Track.prototype.recNote = function(note, velocity, startTime, endTime){
    this.messages.push([startTime, 0x90, note, velocity]);
    this.messages.push([endTime, 0x80, note, 0]);
  };
  Track.prototype.recElse = function(time, m0, m1, m2){
    this.messages.push([time, m0, m1, m2]);
  };
  Track.prototype.noteOn = function(note, velo) {
    this.putMidi(0x90, note, velo);
  };
  Track.prototype.noteOff = function(note) {
    this.putMidi(0x80, note, 0);
  };
  Track.prototype.programChange = function(number) {
    this.putMidi(0xc0, number || this.program.number, 0);
  };
  Track.prototype.allSoundOff = function() {
    this.synth.allSoundOff();
  };
  Track.prototype.putMidi = function(m0, m1, m2){
    this.synth.sendMidiMessage(m0 + this.channel - 1, m1, m2);//キーボードからはchannel1で来る前提
  };
  Track.prototype.deleteAll = function(){
    this.messages = [1000*60*10/(1000*60/480*120), 0x80, 62, 0];
  };
  Track.prototype.onChangeSynth = function(){
    this.program = this.synth.programs[1];
  };
  
  
  var Tune = function(){//容量と互換性の都合でSMF形式に準拠する
    this.format = 1;
    this.timeMode = 480;
    this.tracks = [];
    this.selectedTrackId = -1;
    this.pxPerMsMode = 0;//1倍
  };
  Tune.prototype.readyToRender = function(){
    var that = this;
    this.rerenderTracks = function(recState){
      var pxPerMs = that.getPxPerMs();
      that.foreachTrack(function(track){
        var canvas = document.getElementById('' + track.id);
        var ctx = canvas.getContext('2d');
        ctx.fillStyle = "#4444ff";
        ctx.beginPath();
        
        ctx.clearRect(0,0, canvas.width, canvas.height);
        _(track.messages).each(function(message){
          var x1 = message[0] * pxPerMs;
          var y1 = (127 - message[2]);
          ctx.fillRect(x1, y1, 2, 2);
        });
        if(recState){
          ctx.fillRect(recState.getLocation() * pxPerMs, 0, 1, 127);
        }
      });
    };
  };
  Tune.prototype.pxPerMsModes = _([1,2,4,8,16,32]).map(function(ratio){
    return 1000 / (10*60*1000) * ratio;
  });
  Tune.prototype.refresh = function(smfData, synth){
    if(smfData.format != 1){
      throw 'まだ1しか受け付けません'
    }
    if(smfData.timeMode > 128*256){
      throw 'まだMSB=0しか受け付けません'
    }
    this.format = smfData.format;
    this.timeMode = smfData.timeMode;
    console.log("timeMode=" + this.timeMode);
    var that = this;
    this.tracks = _(smfData.tracks).map(function(events){
      var deltaSum = 0;
      var messages = _(events).map(function(e){
        deltaSum += e[0];
        return [deltaSum, e[1], e[2], e[3]];
      });
      return new Track({
        name: '_',
        synth: synth,
        channel: 1,
        messages: messages
      });
    });
  };
  Tune.prototype.getPxPerMs = function(){
    return this.pxPerMsModes[this.pxPerMsMode];
  };
  Tune.prototype.hasMaxPxPerMs = function(){
    return this.pxPerMsMode >= this.pxPerMsModes.length-1;
  };
  Tune.prototype.hasMinPxPerMs = function(){
    return this.pxPerMsMode <= 0;
  };
  Tune.prototype.gainPxPerMs = function(amount){
    var pxPerMsMode = this.pxPerMsMode + amount;
    this.pxPerMsMode = (pxPerMsMode < 0) ? 0 : ((pxPerMsMode >= this.pxPerMsModes.length) ? this.pxPerMsModes.length-1 : pxPerMsMode);
    this.rerenderTracks();
  };
  Tune.prototype.addTrack = function(synth, channel){
    var track = new Track({
        name: '_',
        synth: synth,
        channel: channel
    });
    this.tracks.push(track);//とりあえず1trackに
  };
  Tune.prototype.replaceTracksByLoadedTracks = function(tracks, synths){
    var that = this;
    this.tracks = tracks ? _(tracks).map(function(_track){
      _track.synth = synths[_track.synth.name];
      _track.messages = _(_track.messages).filter(function(e){//下位互換
        return (e.message || e.time) ? false : true;
      });
      return new Track(_track, function(track, recState){
        that.rerenderTrack(track, recState);
      });
    }) : [];
  };
  Tune.prototype.foreachTrack = function(f){
    _(this.tracks).each(function(track){
      f(track);
    });
  };
  Tune.prototype.foreachSelectedTrack = function(f){
    var that = this;
    this.foreachTrack(function(track){
      that.trackIsSelected(track) && f(track);
    });
  };
  Tune.prototype.trackIsSelected = function(track){
    return track.id == this.selectedTrackId;
  };
  
  function KeyboardCtrl($scope, $http, Synth, jazz) {

    $scope.address = location.href.split('/tunes/', 2)[1];
    document.title = $scope.address + " - WebMidiLink Sample";
    $scope.showFrame = false;
    $scope.connection = 'disconnected';
    $scope.echoms = '';
    $scope.user = null;
    $http({method: 'GET', url: '/session'}).success(function(user) {
      $scope.user = user;
    });
    
    var Sequencer = function(tune){
      this.location = 0;
      this.tune = tune;
      this.playing = false;
      this.recState = new RecState();
    };
    
    Sequencer.prototype.send = function(t, m0, m1, m2){
      this.recState.send(m0, m1, m2);
      this.tune.foreachSelectedTrack(function(track){
        track.putMidi(m0, m1, m2);
      });
    };
    Sequencer.prototype.rec = function(){
      this.play('recoding');
    };
    Sequencer.prototype.stopPlaying = function(){
      this.tune.foreachTrack(function(track){
        track.allSoundOff();
      });
    };
    Sequencer.prototype.play = function(optMode){
      if(this.tune.tracks.length <= 0){
        return;
      }
      var that = this;
      this.recState = new RecState();
      if(optMode == 'recoding'){
        this.recState.onNoteFinished = function(note, velocity, startTime, endTime){
          that.tune.foreachSelectedTrack(function(track){
            track.recNote(note, velocity, that.msToTick(startTime), that.msToTick(endTime));
          });
        };
        this.recState.onElse = function(time, m0, m1, m2){
          that.tune.foreachSelectedTrack(function(track){
            track.recElse(that.msToTick(time),m0, m1, m2);
          });
        };
      }
      var messageTrackPairs = _(this.tune.tracks).reduce(function(memo, track){
        var pairs = _(track.messages).map(function(mes){ return [mes, track] });
        return memo.concat(pairs);
      }, []);
      
      this.playing = optMode || 'playing';
      messageTrackPairs.sort(function(a, b){
        return a[0][0] - b[0][0];
      });
      //console.log(messageTrackPairs);
      that.tune.foreachTrack(function(track){
        track.programChange();//synthロード後にダメ押し
      });
      var index = 0;
      var current;
      var currentTrack;
      var currentMessage;
      var that = this;
      var tick = function(){
        var location = that.recState.getLocation();
        current = (index < messageTrackPairs.length) ? messageTrackPairs[index] : null;
        currentTrack = current[1];
        currentMessage = current[0];
        if(!that.playing){
          that.stopPlaying();//念のため
        }else if(!current){
          that.stop();
          $scope.$apply();
        }else if(that.tickToMs(currentMessage[0]) < location){
          currentTrack.putMidi(currentMessage[1], currentMessage[2], currentMessage[3]);
          index++;
          tick();
        }else{
          setTimeout(tick, 1);
        }
      };
      var render = function(){
        if(that.playing){
          that.tune.rerenderTracks(that.recState);
          setTimeout(render, 1000);
        }
      };
      tick();
      render();
    };
    Sequencer.prototype.stop = function(){
      console.log("stop");
      $scope.recState = null;
      this.location = 0;
      this.playing = null;
      this.stopPlaying();
    };
    Sequencer.prototype.tickToMs = function(tick){
      return Math.floor(this.getTimePerTick() * tick);
    };
    Sequencer.prototype.getTimePerTick = function(){
      var tempo = 120;//TODO
      return 1000*60/(this.tune.timeMode * tempo);
    };
    Sequencer.prototype.msToTick = function(ms){
      return Math.floor(ms / this.getTimePerTick());
    };

    $scope.synths = {};
    _(org.jinjor.synth.synthDefs).each(function(synthDef){
      $scope.synths[synthDef.name] = new Synth(synthDef.name, synthDef.url, synthDef.author, synthDef.programs);
    });
    $scope.synthsAsArray = function(){
      return _.values($scope.synths);
    };
    
    $scope.channels = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];
    $scope.tune = new Tune();
    
    $scope.saveContents = function(){
      _($scope.tune.tracks).each(function(track){
        track.synth.sy = null;
      });
      
      $http({method: 'POST', url: '/saveContents', data: {
        address: $scope.address,
        contents: JSON.stringify($scope.tune.tracks)
      }}).success(function() {
        alert('saveしました')
      }).error(function(e) {
        alert(e);
      });
    };
    
    $http({method: 'GET', url: '/contents/' + $scope.address}).success(function(tracks) {
      console.log(tracks);
      $scope.tune.replaceTracksByLoadedTracks(tracks, $scope.synths);
      $scope.sequencer = new Sequencer($scope.tune);
      _($scope.synths).each(function(synth){
        synth.load(document[synth.id]);
      });
      setTimeout(function(){
        $scope.tune.readyToRender();
        $scope.tune.rerenderTracks();
      },20);
    }).error(function(e) {
      alert(e);
    });
    $scope.selectTrack = function(track){
      $scope.tune.selectedTrackId = track.id;
    };
    $scope.trackIsSelected = function(track){
      return $scope.tune.trackIsSelected(track) ? 'selected' : null;
    };
      
    $scope.messages = [];
    $scope.keyIsPressed = function(track){
      return ($scope.tune.trackIsSelected(track) &&
              $scope.sequencer.recState &&
              $scope.sequencer.recState.keyIsPressed()) ? 'pressed' : '';
    };
    $scope.playing = false;
    $scope.rec = function(){
      $scope.sequencer.rec();
    };
    $scope.play = function(){
      $scope.sequencer.play();
    };
    $scope.stop = function(){
      $scope.sequencer.stop();
    };
    
    jazz.onMessage(function(t, m0, m1, m2){
      if(m0 == 248){
        //$scope.sequencer.send(t, m0, m1, m2);
      }else{
        $scope.$apply(function() {
          $scope.sequencer.send(t, m0, m1, m2);
        });
      }
    });
    
    $(document).ready(function(){
      _($scope.synths).each(function(synth){
        synth.load(document[synth.id]);
      });
      
      var SmfFile = org.jinjor.smf.SmfFile;

      $.event.props.push('dataTransfer');//おまじない
      if (window.File) {
          $("#drop").on("dragover", function(event){
            event.preventDefault();
          }).on("drop", function(event){
            var files = event.dataTransfer.files;
            var f = files[0];
            var smfFile = new SmfFile(f, function(){
              $scope.tune.refresh(smfFile.smfData, $scope.synths.GMPlayer);
              $scope.$apply();
              setTimeout(function(){
                $scope.tune.readyToRerender();
                $scope.tune.rerender();
              },20);
            });
            event.preventDefault();
          });
      } else {
          window.alert("本ブラウザではFile APIが使えません");
      }
    });
    
    
  }
  </script>

</head>
<body ng-controller="KeyboardCtrl" >
  <h1>♪ {{address}}</h1>
  <div ng-show="user">ようこそ {{user}}<a href="/signout/{{address}}">ログアウト</a></div>
  <div ng-show="!user"><a href="/signin/twitter/{{address}}">Twitter認証でログイン</a></div>
  <div id="comment">
    <p>MIDIキーボードからWebMidiLinkで音を鳴らすサンプル（つくりかけ）。<br/>MIDI接続には<a href="http://jazz-soft.net/doc/Jazz-Plugin/" target="blank">JazzPlugin</a>が必要です。<br/></p>
    <ul>
      <li><a href="http://www.g200kg.com/en/docs/webmidilink/" target="blank">WebMidiLinkについて</a>: シンセ作者様のリンクもこちらに<br/></li>
      <li><a href="https://github.com/jinjor/webmidi" target="blank">GitHub</a>: このページのソースです</li>
    </ul>
  </div>
  
  <hr/>
  
  <!-- Jazz-Plugin -->
  <div>
    <object id="Jazz1" classid="CLSID:1ACE1618-1C7D-4561-AEE1-34842AA85E90" class="hidden">
      <object id="Jazz2" type="audio/x-jazz" class="hidden">
        <p style="visibility:visible;">This page requires <a href=http://jazz-soft.net>Jazz-Plugin</a> ...</p>
      </object>
    </object>
    <p>
      <label>MIDI Input:</label>
      <select ng-model="currentMidiIn" ng-change="changeMidiIn(currentMidiIn)" ng-options="midiIn for midiIn in midiIns">
      </select>
    </p>
  </div>
  <button ng-repeat="synth in synths" ng-click="tune.addTrack(synth, 1)">{{synth.name}}</button>
  
  <div>
    <button ng-click="rec()" ng-disabled="sequencer.playing">●Rec</button>
    <button ng-click="play()" ng-disabled="sequencer.playing">Play</button>
    <button ng-click="stop()" ng-disabled="!sequencer.playing">Stop</button>
  </div>
  <div>
    <button ng-click="tune.gainPxPerMs(-1)" ng-disabled="tune.hasMinPxPerMs()">-</button>
    <button ng-click="tune.gainPxPerMs(1)" ng-disabled="tune.hasMaxPxPerMs()">+</button>
  </div>
  <div class="tracks">
    <ul>
      <li ng-repeat="track in tune.tracks" class='track {{trackIsSelected(track)}}' ng-click="selectTrack(track)">
        <div class="track_def">
          <!--<label>{{$index + 1}}</label>-->
          <span class="keyboard {{keyIsPressed(track)}}">■</span> <!--{{track.name}} : {{track.synth.name}}-->
                                                                    
          <select ng-model="track.synth" ng-change="track.onChangeSynth()" ng-options="synth.name for synth in synthsAsArray()"></select>
          <label>Ch:</label><select ng-model="track.channel" ng-disabled="false" ng-options="channel for channel in channels"></select>
          <label>Prg:</label><select ng-model="track.program" ng-change="track.programChange(track.program.number)" ng-options="(program.number + ':' + program.description) for program in track.synth.programsAsArray()"></select>
          <!--<input type="checkbox" ng-model="track.rec">-->
          <form ng-submit="track.deleteAll()">
            <input type="submit" value="Delete"></input>
          </form>
        </div>
        <div class="pianoroll_summary">
          <canvas id="{{track.id}}" width="1000px" height="128px"></canvas>
        </div>
      </li>
    </ul>
  </div>
  <iframe ng-repeat="synth in synths" ng-show="showFrame" name="{{synth.id}}" width="600px" height="400px" src="iframe.html"></iframe>
  <div>
  <form ng-submit="saveContents()">
    <input id="" type="submit" value="Save" ng-disabled="!user"></input>
  </form>
  <div id="drop" style="width:700px; height:150px; padding:10px; border:1px solid">
    SMF Import (drag & drop)
  </div>
  
<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{address}} #WebMidiLink" data-url="http://jinjor.webmidi.jit.su/tunes/{{address}}" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


<footer id="footer">
  <hr/>

  Copyright (C) 2012-2013 Yosuke Torii All Rights Reserved.
</footer>

</div>
<!--
<canvas id="jabkencanvas"><canvas>
                            -->
</body>
</html>