<html ng-app="brouserSynth">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Viretual DAW</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/jazz-plugin-handler.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  <script type="text/javascript">
  
  var id = 0;
  module.factory('Synth', function($rootScope) {
    var Synth = function(name, url){
      this.name = name;
      this.url = url;
      this.sy = null;
    };
    Synth.prototype.load = function() {
      if(!this.sy){
        this.sy = window.open(this.url, "sy" + id, "width=900,height=670,scrollbars=yes,resizable=yes");
      }
    };
    Synth.prototype.noteOn = function(note, velo) {
      this.sendMessage("midi,90," + note.toString(16) + "," + velo.toString(16));
    };
    Synth.prototype.noteOff = function(note) {
      this.sendMessage("midi,80," + note.toString(16) + ",0");
    };
    Synth.prototype.allSoundOff = function() {
      this.sendMessage("midi,b0,78,0");
    };
    Synth.prototype.sendMidiMessage = function(m0, m1, m2) {
      this.sendMessage('midi,' + m0.toString(16) +','+ m1.toString(16)+','+ m2.toString(16));
    };
    Synth.prototype.sendMessage = function(s) {
      if(this.sy)
          this.sy.postMessage(s, "*");
    };
    return Synth;
  });
  
  var Track = function(arg){
    this.name = arg.name;
    this.synth = arg.synth;
    this.channel = arg.channel || 1;
    this.program = arg.program || 1;
    this.keyCount = 0;
    this.rec = false;
  };
  Track.prototype.noteOn = function(note, velo) {
    this.putMidi(0x90, note, velo);
  };
  Track.prototype.noteOff = function(note) {
    this.putMidi(0x80, note, 0);
  };
  Track.prototype.programChange = function(number) {
    console.log(number);
    this.putMidi(0xc0, number, 0);
  };
  Track.prototype.allSoundOff = function() {
    this.synth.allSoundOff();
    this.keyCount = 0;
  };
  Track.prototype.putMidi = function(m0, m1, m2){
    console.log(this.name + ":" + m0 + ','+ m1 + ',' + m2);
    if(this.rec){
      if(m0 >> 4 == 9){
        this.keyCount++;
      }else if(m0 >> 4 == 8){
        this.keyCount--;
      }
      this.synth.sendMidiMessage(m0 + this.channel - 1, m1, m2);//キーボードからはchannel1で来る前提
    }
  };
  Track.prototype.keyIsPressed = function(){
    return this.keyCount > 0 ? 'pressed' : '';
  };
  
  function KeyboardCtrl($scope, io, Synth, jazz) {
    $scope.connection = 'disconnected';
    $scope.echoms = '';
  
    var socket = io.connect('/');
    socket.on('connect', function() {
      $scope.connection = 'connected';
      console.log('connected');
      socket.on('disconnect', function() {
        $scope.connection = 'disconnected';
        $scope.echoms = '';
      });
      socket.on('midi', function(abc){
        var splitted = abc.split(',');
        var a = parseInt(splitted[0]);
        var b = parseInt(splitted[1]);
        var c = parseInt(splitted[2]);
        midiProcCommon(a,b,c);
      });
      socket.on('echo', function(message){
        $scope.echoms = '(echo:' + (new Date().getMilliseconds() - parseInt(message)) + 'ms)';
      });
      socket.emit('echo', new Date().getMilliseconds());
    });
  
    $scope.synths = [];
    $scope.synths.push(new Synth('WebModular', 'http://www.g200kg.com/en/docs/webmodular/webmodular.html'));
    $scope.synths.push(new Synth('GMPlayer', 'http://www.g200kg.com/en/docs/gmplayer/'));
    $scope.synths.push(new Synth('WebBridge', 'http://www.g200kg.com/en/docs/webbridge/'));
    $scope.synths.push(new Synth('WebBeeper', 'http://www.g200kg.com/en/docs/webbeeper/'));
    $scope.synths.push(new Synth('WebSynth', 'http://aikelab.net/websynth/'));
    $scope.synths.push(new Synth('BitMaker', 'http://aikelab.net/bitmaker/'));
    $scope.synths.push(new Synth('Timbre.js', 'http://script-synthesizer.herokuapp.com/'));
    $scope.synths.push(new Synth('Beatonica', 'http://beatonica.com/'));
    $scope.synths.push(new Synth('Webitaur', 'http://www.angryoctopus.co.nz/synth16/'));
    $scope.synths.push(new Synth('Pianoroll', '/pianoroll.html'));
    
    $scope.channels = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];
    $scope.tracks = [];
    $scope.addTrack = function(synth, channel){
      synth.load();
      $scope.tracks.push(new Track({
        name: '_',
        synth: synth,
        channel: channel,
        program: $scope.programs[0]
      }));
    };
    
    $scope.messages = [];
    
    var midiProcCommon = function(a,b,c){
      $scope.messages[a] = a + ':' + b + ',' + c;
      _($scope.tracks).each(function(track){
        track.putMidi(a, b, c);
      });
    };
    jazz.onMessage(function(t,a,b,c){
      if(a != 248){
        //socket.emit('midi', a + ',' + b + ',' + c);
        midiProcCommon(a,b,c);
      }
    });
  }
  </script>

</head>
<body ng-controller="KeyboardCtrl" >
  <!-- Jazz-Plugin -->
  <div>
    <object id="Jazz1" classid="CLSID:1ACE1618-1C7D-4561-AEE1-34842AA85E90" class="hidden">
      <object id="Jazz2" type="audio/x-jazz" class="hidden">
        <p style="visibility:visible;">This page requires <a href=http://jazz-soft.net>Jazz-Plugin</a> ...</p>
      </object>
    </object>
    <p>
      <label>MIDI Input:</label>
      <select>
        <option ng-repeat="midiIn in midiIns" ng-selected="currentMidiIn">{{midiIn}}</option>
      </select>
    </p>
  </div>
    
  <button ng-repeat="synth in synths" ng-click="addTrack(synth, 1)">{{synth.name}}</button>

</div>
</body>
</html>