<html ng-app="brouserSynth">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>WebMidiLink Sample</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/jazz-plugin-handler.js"></script>
  <script type="text/javascript" src="/js/footerFixed.js"></script>
  <script type="text/javascript" src="/js/smf.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  <script type="text/javascript">

  var module = angular.module('brouserSynth', []);
  JazzPlugin.attachTo(module);
  var id = 0;
  module.factory('Synth', function($rootScope) {
    var Synth = function(name, url, author, programs){
      this.id = name;
      this.name = name;
      this.url = url;
      this.author = author;
      this.programs = programs;
      this.sy = null;
    };
    Synth.prototype.load = function(frame) {
      frame.location.href = this.url;
      this.sy = frame;
    };
    Synth.prototype.noteOn = function(note, velo) {
      this.sendMessage("midi,90," + note.toString(16) + "," + velo.toString(16));
    };
    Synth.prototype.noteOff = function(note) {
      this.sendMessage("midi,80," + note.toString(16) + ",0");
    };
    Synth.prototype.allSoundOff = function() {
      this.sendMessage("midi,b0,78,0");
    };
    Synth.prototype.sendMidiMessage = function(m0, m1, m2) {
      this.sendMessage('midi,' + m0.toString(16) +','+ m1.toString(16)+','+ m2.toString(16));
    };
    Synth.prototype.sendMessage = function(s) {
      if(this.sy){
        this.sy.postMessage(s, "*");
      }  
    };
    Synth.prototype.programsAsArray = function(){
      return _.values(this.programs);
    };
    return Synth;
  });

  
  var RecState = function() {
    this.keyCount = 0;
    this.noteOns = [];
    this.running = false;
    this.startTime = (new Date()).getTime();
  };
  RecState.prototype.onNoteFinished = function(startTime, endTime, velocity){};
  RecState.prototype.onElse = function(time, m0, m1, m2){};
  RecState.prototype.send = function(m0, m1, m2){
    var time = this.getLocation();
    if(m0 >> 4 == 9){
      this.noteOns[m1] = [time, m2];
      this.keyCount++;
    }else if(m0 >> 4 == 8){
      var startTime_velocity = this.noteOns[m1];
      startTime_velocity && this.onNoteFinished(m1, startTime_velocity[1], startTime_velocity[0], time);
      this.noteOns[m1] = false;
      this.keyCount--;
    }else{
      this.onElse(time, m0, m1, m2);
    }
  };
  RecState.prototype.reset = function(){
    this.keyCount = 0;
    this.noteOns = [];
  };
  RecState.prototype.keyIsPressed = function(){
    return this.keyCount > 0;
  };
  RecState.prototype.getLocation = function(){
    return (new Date()).getTime() - this.startTime;
  };
  
  var trackId = 0;
  function createTrackId(){
    return ++trackId;
  };
  var Track = function(arg, rerender){
    console.log(arg)
    this.id = createTrackId();
    this.name = arg.name;
    this.synth = arg.synth;
    this.channel = arg.channel || 1;
    this.program = arg.program ? this.synth.programs[arg.program.number] : this.synth.programs[1];
    this.selected = true;
    this.messages = arg.messages || [
      {time: 1000 * 60 * 10, message: [0x80, 62, 0]}
    ];
    this.notes = arg.notes || [];
    var that = this;
    this.rerender = function(){
      rerender(that);
    };
    this.programChange(this.program.number);
  };
  Track.prototype.recNote = function(note, velocity, startTime, endTime){
    this.messages.push({time: startTime, message: [0x90, note, velocity]});
    this.messages.push({time: endTime, message: [0x80, note, 0]});
  };
  Track.prototype.recElse = function(time, m0, m1, m2){
    this.messages.push({time: time, message: [m0, m1, m2]});
  };
  Track.prototype.noteOn = function(note, velo) {
    this.putMidi(0x90, note, velo);
  };
  Track.prototype.noteOff = function(note) {
    this.putMidi(0x80, note, 0);
  };
  Track.prototype.programChange = function(number) {
    this.putMidi(0xc0, number || this.program.number, 0);
  };
  Track.prototype.allSoundOff = function() {
    this.synth.allSoundOff();
  };
  Track.prototype.putMidi = function(m0, m1, m2){
    this.synth.sendMidiMessage(m0 + this.channel - 1, m1, m2);//キーボードからはchannel1で来る前提
  };
  Track.prototype.deleteAll = function(){
    this.messages = [
      {time: 1000 * 60 * 10, message: [0x80, 62, 0]}
    ];
    this.notes = [];
    this.rerender();
  };
  Track.prototype.onChangeSynth = function(){
    this.program = this.synth.programs[1];
  };
  
  function KeyboardCtrl($scope, $http, Synth, jazz) {

    /*
    onload = function() {
      window.addEventListener("devicemotion", function(event){
        //var y_a = event.acceleration.y;
        var y_g = event.accelerationIncludingGravity.y;
        socket.emit('y_g', y_g);
      }, true);
    };
    setTimeout("scrollTo(0,1)", 50);
    */
    
    
  
  
    $scope.address = location.href.split('/tunes/', 2)[1];
    document.title = $scope.address + " - WebMidiLink Sample";
    $scope.showFrame = false;
    $scope.connection = 'disconnected';
    $scope.echoms = '';
    $scope.user = null;
    $http({method: 'GET', url: '/session'}).success(function(user) {
      $scope.user = user;
    });
    
    var Sequencer = function(tracks){
      this.location = 0;
      this.tracks = tracks;
      this.playing = false;
      this.recState = new RecState();
    };
    Sequencer.prototype.foreachTrack = function(f){
      _(this.tracks).each(function(track){
        f(track);
      });
    };
    Sequencer.prototype.send = function(t, m0, m1, m2){
      this.recState.send(m0, m1, m2);
      if(this.playing == 'recoding'){
        var that = this;
        this.foreachTrack(function(track){
          if($scope.trackIsSelected(track)){
            var canvas = document.getElementById('' + track.id);
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "#4444ff";
            ctx.beginPath();
            var x = that.recState.getLocation() * 0.01;
            var y = (127 - m1);
            ctx.fillRect(x, y, 2, 2);
          }
        });
      }
      this.foreachTrack(function(track){
        $scope.trackIsSelected(track) && track.putMidi(m0, m1, m2);
      });
    };
    Sequencer.prototype.rec = function(){
      this.play('recoding');
    };
    Sequencer.prototype.stopPlaying = function(){
      this.foreachTrack(function(track){
        track.allSoundOff();
      });
    };
    Sequencer.prototype.play = function(optMode){
      if(this.tracks.length <= 0){
        return;
      }
      var that = this;
      this.recState = new RecState();
      if(optMode == 'recoding'){
        this.recState.onNoteFinished = function(note, velocity, startTime, endTime){
          that.foreachTrack(function(track){
            $scope.trackIsSelected(track) && track.recNote(note, velocity, startTime, endTime);
          });
        };
        this.recState.onElse = function(m0, m1, m2){
          that.foreachTrack(function(track){
            $scope.trackIsSelected(track) && track.recElse(m0, m1, m2);
          });
        };
      }
      var messageTrackPairs = _(this.tracks).reduce(function(memo, track){
        var pairs = _(track.messages).map(function(mes){ return [mes, track] });
        return memo.concat(pairs);
      }, []);
      
      this.playing = optMode || 'playing';
      messageTrackPairs.sort(function(a, b){
        return a[0].time - b[0].time;
      });
      //console.log(messageTrackPairs);
      that.foreachTrack(function(track){
        track.programChange();//synthロード後にダメ押し
      });
      var index = 0;
      var current;
      var currentTrack;
      var currentMessage;
      var that = this;
      var tick = function(){
        var location = that.recState.getLocation();
        current = (index < messageTrackPairs.length) ? messageTrackPairs[index] : null;
        currentTrack = current[1];
        currentMessage = current[0];
        if(!that.playing){
          that.stopPlaying();//念のため
        }else if(!current){
          that.stop();
          $scope.$apply();
        }else if(currentMessage.time < location){
          currentTrack.putMidi(currentMessage.message[0], currentMessage.message[1], currentMessage.message[2]);
          index++;
          tick();
        }else{
          setTimeout(tick, 1)
        }
      };
      tick();
    };
    Sequencer.prototype.stop = function(){
      console.log("stop");
      $scope.recState = null;
      this.location = 0;
      this.playing = null;
      this.stopPlaying();
    };
    
    $scope.synths = {};
    $scope.synths.GMPlayer = new Synth('GMPlayer', 'http://www.g200kg.com/en/docs/gmplayer/','g200kg', {
      1:{number:1, description:''},
      2:{number:2, description:''},
      3:{number:3, description:''},
      4:{number:4, description:''},
      5:{number:5, description:''},
      6:{number:6, description:''},
      7:{number:7, description:''},
      8:{number:8, description:''},
      9:{number:9, description:''},
      10:{number:10, description:''},
      11:{number:11, description:''},
      12:{number:12, description:''},
      13:{number:13, description:''},
      14:{number:14, description:''},
      15:{number:15, description:''},
      16:{number:16, description:''},
      17:{number:17, description:''},
      18:{number:18, description:''},
      19:{number:19, description:''},
      20:{number:20, description:''},
      21:{number:21, description:''},
      22:{number:22, description:''},
      23:{number:23, description:''},
      24:{number:24, description:''},
      25:{number:25, description:''},
      26:{number:26, description:''}
    });
    $scope.synths.WebBeeper = new Synth('WebBeeper', 'http://www.g200kg.com/en/docs/webbeeper/','g200kg', {
      1:{number:1, description:''},
      2:{number:2, description:''},
      3:{number:3, description:''},
      4:{number:4, description:''},
      5:{number:5, description:''},
      6:{number:6, description:''},
      7:{number:7, description:''},
      8:{number:8, description:''},
      9:{number:9, description:''},
      10:{number:10, description:''},
      11:{number:11, description:''},
      12:{number:12, description:''},
      13:{number:13, description:''},
      14:{number:14, description:''},
      15:{number:15, description:''},
      16:{number:16, description:''},
      17:{number:17, description:''},
      18:{number:18, description:''},
      19:{number:19, description:''},
      20:{number:20, description:''},
      21:{number:21, description:''},
      22:{number:22, description:''},
      23:{number:23, description:''},
      24:{number:24, description:''},
      25:{number:25, description:''},
      26:{number:26, description:''}
    });
    //$scope.synths.push(new Synth('WebModular', 'http://www.g200kg.com/en/docs/webmodular/webmodular.html'));
    //$scope.synths.push(new Synth('WebBridge', 'http://www.g200kg.com/en/docs/webbridge/'));
    //$scope.synths.push(new Synth('WebSynth', 'http://aikelab.net/websynth/'));
    //$scope.synths.push(new Synth('BitMaker', 'http://aikelab.net/bitmaker/'));
    //$scope.synths.push(new Synth('Timbre.js', 'http://script-synthesizer.herokuapp.com/'));
    //$scope.synths.push(new Synth('Beatonica', 'http://beatonica.com/'));
    //$scope.synths.push(new Synth('Webitaur', 'http://www.angryoctopus.co.nz/synth16/'));
    //$scope.synths.push(new Synth('Pianoroll', '/pianoroll.html'));
    $scope.synthsAsArray = function(){
      return _.values($scope.synths);
    };
    
    $scope.channels = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];
    $scope.selectedTrackId = -1;
    $scope.tracks = [];
    
    
    $scope.saveContents = function(){
      _($scope.tracks).each(function(track){
        track.synth.sy = null;
      });
      
      $http({method: 'POST', url: '/saveContents', data: {
        address: $scope.address,
        contents: JSON.stringify($scope.tracks)
      }}).success(function() {
        alert('saveしました')
      }).error(function(e) {
        alert(e);
      });
    };
    var rerenderTrack = function(track){
      var canvas = document.getElementById('' + track.id);
      var ctx = canvas.getContext('2d');
      ctx.clearRect(0,0, canvas.width, canvas.height);
      ctx.fillStyle = "#4444ff";
      ctx.beginPath();
      _(track.messages).each(function(message){
        var x1 = message.time * 0.01;
        var y1 = (127 - message.message[1]);
        ctx.fillRect(x1, y1, 2, 2);
      });
    };
    
    $http({method: 'GET', url: '/contents/' + $scope.address}).success(function(tracks) {
      console.log(tracks);
      $scope.tracks = tracks ? _(tracks).map(function(_track){
        _track.synth = $scope.synths[_track.synth.name];
        return new Track(_track, rerenderTrack);
      }) : [];
      
      trackId = tracks.length + 1;
      $scope.sequencer = new Sequencer($scope.tracks);
      
      _($scope.synths).each(function(synth){
        synth.load(document[synth.id]);
      });
      setTimeout(function(){
        _($scope.tracks).each(function(track){
          track.rerender();
        });
      },20);
      
    }).error(function(e) {
      alert(e);
    });
    $scope.addTrack = function(synth, channel){
      var track = new Track({
        name: '_',
        synth: synth,
        channel: channel
      }, rerenderTrack);
      $scope.tracks.push(track);//とりあえず1trackに
    };
    $scope.selectTrack = function(track){
      $scope.selectedTrackId = track.id;
    };
    $scope.trackIsSelected = function(track){
      return track.id == $scope.selectedTrackId ? 'selected' : null;
    };
      
    $scope.messages = [];
    $scope.keyIsPressed = function(track){
      return ($scope.trackIsSelected(track) && $scope.sequencer.recState && $scope.sequencer.recState.keyIsPressed()) ? 'pressed' : '';
    };
    $scope.playing = false;
    $scope.rec = function(){
      $scope.sequencer.rec();
    };
    $scope.play = function(){
      $scope.sequencer.play();
    };
    $scope.stop = function(){
      $scope.sequencer.stop();
    };
    
    jazz.onMessage(function(t, m0, m1, m2){
      if(m0 == 248){
        //$scope.sequencer.send(t, m0, m1, m2);
      }else{
        $scope.$apply(function() {
          $scope.sequencer.send(t, m0, m1, m2);
        });
      }
    });
    
    /*
    // 描画コンテキストの取得
      canvas = document.getElementById('jabkencanvas');
      if ( ! canvas || ! canvas.getContext ) { return false; }
      ctx = canvas.getContext('2d');
      ctx.font = "12pt  Helvetica";
      ctx.fillStyle = "#4444ff";
      ctx.beginPath();
      
    var socket = io.connect('/', { rememberTransport: false });
    //var socket = io.connect(null, { transports: ["xhr-polling"], rememberTransport: false });
    socket.on('connect', function() {
      alert('connected');
      $scope.connection = 'connected';
      console.log('connected');
      socket.on('disconnect', function() {
        $scope.connection = 'disconnected';
        $scope.echoms = '';
      });
      socket.on('y_g', function(y_g){
        //ctx.clearRect(0, 0, 300, 400);
        var y = (70 + y_g * 10);
        console.log(y);
        ctx.fillRect(50, y, 4, 4);
        
        $scope.sequencer.send(0, 0x90, 127-y, 100);
        setTimeout(function(){
          $scope.sequencer.send(0, 0x80, 127-y, 0);
        }, 20);
      });
      socket.on('echo', function(message){
        $scope.echoms = '(echo:' + (new Date().getMilliseconds() - parseInt(message)) + 'ms)';
      });
      socket.emit('echo', new Date().getMilliseconds());
    });
    */
    $(document).ready(function(){
      _($scope.synths).each(function(synth){
        synth.load(document[synth.id]);
      });
      
      var SmfFile = org.jinjor.smf.SmfFile;

      $.event.props.push('dataTransfer');//おまじない
      if (window.File) {
          $("#drop").on("dragover", function(event){
            event.preventDefault();
          }).on("drop", function(event){
            var files = event.dataTransfer.files;
            var f = files[0];
            var smfFile = new SmfFile(f, function(){
              $scope.tracks = _(smfFile.smfData.tracks).map(function(_track){
                var track = new Track({
                  name: '_',
                  synth: $scope.synths.GMPlayer,
                  channel: 1
                }, rerenderTrack);
                return track;
              });
              $scope.$apply();
            });
            event.preventDefault();
          });
      } else {
          window.alert("本ブラウザではFile APIが使えません");
      }
    });
    
    
  }
  </script>

</head>
<body ng-controller="KeyboardCtrl" >
  <h1>♪ {{address}}</h1>
  <div ng-show="user">ようこそ {{user}}<a href="/signout/{{address}}">ログアウト</a></div>
  <div ng-show="!user"><a href="/signin/twitter/{{address}}">Twitter認証でログイン</a></div>
  <div id="comment">
    <p>MIDIキーボードからWebMidiLinkで音を鳴らすサンプル（つくりかけ）。<br/>MIDI接続には<a href="http://jazz-soft.net/doc/Jazz-Plugin/" target="blank">JazzPlugin</a>が必要です。<br/></p>
    <ul>
      <li><a href="http://www.g200kg.com/en/docs/webmidilink/" target="blank">WebMidiLinkについて</a>: シンセ作者様のリンクもこちらに<br/></li>
      <li><a href="https://github.com/jinjor/webmidi" target="blank">GitHub</a>: このページのソースです</li>
    </ul>
  </div>
  
  <hr/>
  
  <!-- Jazz-Plugin -->
  <div>
    <object id="Jazz1" classid="CLSID:1ACE1618-1C7D-4561-AEE1-34842AA85E90" class="hidden">
      <object id="Jazz2" type="audio/x-jazz" class="hidden">
        <p style="visibility:visible;">This page requires <a href=http://jazz-soft.net>Jazz-Plugin</a> ...</p>
      </object>
    </object>
    <p>
      <label>MIDI Input:</label>
      <select ng-model="currentMidiIn" ng-change="changeMidiIn(currentMidiIn)" ng-options="midiIn for midiIn in midiIns">
      </select>
    </p>
  </div>
  <button ng-repeat="synth in synths" ng-click="addTrack(synth, 1)">{{synth.name}}</button>
  
  <div>
    <button ng-click="rec()" ng-disabled="sequencer.playing">●Rec</button>
    <button ng-click="play()" ng-disabled="sequencer.playing">Play</button>
    <button ng-click="stop()" ng-disabled="!sequencer.playing">Stop</button>
  </div>
  <div class="tracks">
    <ul>
      <li ng-repeat="track in tracks" class='track {{trackIsSelected(track)}}' ng-click="selectTrack(track)">
        <div class="track_def">
          <!--<label>{{$index + 1}}</label>-->
          <span class="keyboard {{keyIsPressed(track)}}">■</span> <!--{{track.name}} : {{track.synth.name}}-->
                                                                    
          <select ng-model="track.synth" ng-change="track.onChangeSynth()" ng-options="synth.name for synth in synthsAsArray()"></select>
          <label>Ch:</label><select ng-model="track.channel" ng-disabled="false" ng-options="channel for channel in channels"></select>
          <label>Prg:</label><select ng-model="track.program" ng-change="track.programChange(track.program.number)" ng-options="(program.number + ':' + program.description) for program in track.synth.programsAsArray()"></select>
          <!--<input type="checkbox" ng-model="track.rec">-->
          <form ng-submit="track.deleteAll()">
            <input type="submit" value="Delete"></input>
          </form>
        </div>
        <div class="pianoroll_summary">
          <canvas id="{{track.id}}" width="600px" height="128px"></canvas>
        </div>
      </li>
    </ul>
  </div>
  <iframe ng-repeat="synth in synths" ng-show="showFrame" name="{{synth.id}}" width="600px" height="400px" src="iframe.html"></iframe>
  <div>
  <form ng-submit="saveContents()">
    <input id="" type="submit" value="Save" ng-disabled="!user"></input>
  </form>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{address}} #WebMidiLink" data-url="http://jinjor.webmidi.jit.su/tunes/{{address}}" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div id="drop" style="width:700px; height:150px; padding:10px; border:1px solid"></div>
<footer id="footer">
  <hr/>

  Copyright (C) 2012-2013 Yosuke Torii All Rights Reserved.
</footer>

</div>
<!--
<canvas id="jabkencanvas"><canvas>
                            -->
</body>
</html>